@use "sass:math";

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn {
  @include btn;
  height: 5rem;
  @include itemCenter;
}

@keyframes hotTag {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0.3rem 0.2rem rgb(0 0 0 / 20%);
  }
  100% {
    transform: scale(1);
  }
}

.hot-tag {
  display: inline-block;
  font-size: $base-font-size * 0.8;
  padding: (math.div($base-padding, 4)) (math.div($base-padding, 2));
  animation: hotTag 1s ease-in-out infinite;
}

// btn hover header item ,

@mixin btn-icon-hover {
  animation: btn-icon-hover 0.5s ease-in-out;
}

@keyframes btn-icon-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-icon-hover:hover {
  @include btn-icon-hover;
}

@keyframes btn-item-hover {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}

@mixin btn-item-hover {
  animation: btn-item-hover 0.75s ease-in-out;
}

.btn-item-hover:hover {
  @include btn-item-hover;
}

@keyframes after-item-hover {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

// btn click scale

.btn-click {
  position: relative;
}

@mixin active {
  animation: active 0.3s ease-in-out !important;
}

@keyframes active {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.active {
  @include active;
}

// btn slide hover

.btn-slide {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.btn-slide::after {
  content: " ";
  display: block !important;
  background-color: $topic;
  position: absolute;
  width: calc(100% * 2);
  height: 20rem;
  transform: translateX(-100%) rotate(-60deg);
  transition: all 0.5s ease-in;
}

.btn-slide:hover::after {
  transform: translateX(0%) rotate(-60deg);
  transition: all 0.5s ease-in;
}

// btn complete

@each $key, $val in $topic_colors {
  .btn-comp-#{$key} {
    background-color: $val;
    height: 5rem;
    transition: all 0.25s ease-in;
  }

  .btn-comp-#{$key}:hover {
    background-color: light-comp($val);
    color: $topic;
    transition: all 0.25s ease-in;
  }
}

// btn-hover set background

@each $key, $val in $topic_colors {
  .btn-hover-bg-#{$key}:hover {
    background-color: light-comp($val);
    transition: all 0.3s ease-out;
  }
}

// btn-hover-scale

.btn-hover-scale {
  position: relative;
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.btn-hover-scale:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}
